name: AllUp

on:
  schedule:
    - cron: '26 1 * * *'
  workflow_dispatch:

env:
  TZ: Asia/Shanghai

jobs:
  AllUp:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          cache: 'pip'
      - name: Install Python Dependencies
        run: pip install -r requirements.txt
      - name: AllUp
        run: python AllUp.py
        env:
          GITHUB_REF: ${{ github.ref }}
          GITHUB_REPOSITORY_OWNER: ${{ github.repository_owner }}
          SATWIKI_PASSWORD: ${{ secrets.SATWIKI_PASSWORD }}